@page
@model myportfolio.Pages.Admin.LeaveRegister.DeleteModel

@{
    ViewData["Title"] = "Delete Leave Application";
}


<div class="content-wrapper">
    <section class="content pt-3">
        <div class="container-fluid">
            <section class="content">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Leave Application Detail</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                <div class="card bg-light d-flex flex-fill">
                                    <div class="card-header text-muted border-bottom-0">
                                    </div>
                                    <div class="card-body pt-0">
                                        <div class="row">
                                            <div class="col-7">
                                                <p class="lead"><strong>Name: </strong><b>@Html.DisplayFor(model => model.LeaveRegisterRequest.Name) </b></p>
                                                <p><strong>Email: </strong> @Html.DisplayFor(model => model.LeaveRegisterRequest.Email) </p>
                                                <p><strong>Contact No: </strong> @Html.DisplayFor(model => model.LeaveRegisterRequest.ContactNo) </p>
                                                <p><strong>Designation: </strong> @Html.DisplayFor(model => model.LeaveRegisterRequest.Reason) </p>
                                                <p><strong>Leave Type: </strong> @Html.DisplayFor(model => model.LeaveRegisterRequest.LeaveType) </p>
                                                <p><strong>Reason: </strong> @Html.DisplayFor(model => model.LeaveRegisterRequest.Reason) </p>
                                                <p><strong>From Date: </strong> @Model.LeaveRegisterRequest.FromDate.ToString("dd MMMM yyyy") </p>
                                                <p><strong>To Date: </strong> @Model.LeaveRegisterRequest.ToDate.ToString("dd MMMM yyyy") </p>
                                                <p><strong>From Time: </strong> @Model.LeaveRegisterRequest.FromTime </p>
                                                <p><strong>To Time: </strong> @Model.LeaveRegisterRequest.ToTime </p>

                                                <p><strong>Total Day: </strong> @Html.DisplayFor(model => model.LeaveRegisterRequest.TotalDay) </p>
                                                
                                                <p><strong>Status: </strong> @(Model.LeaveRegisterRequest.IsReject ? "Reject" : Model.LeaveRegisterRequest.IsAccepted ? "Approved" : "Pending") </p>
                                                <p><strong>Comments: </strong> @Html.DisplayFor(model => model.LeaveRegisterRequest.Comments) </p>

                                            </div>


                                        </div>
                                    </div>


                                    <div class="card-footer">
                                        <form method="post">
                                            <input type="hidden" asp-for="LeaveRegisterRequest.Id" />
                                            <a asp-page="./Index" class="btn  btn-outline-info">Back</a>
                                            <button type="submit" class="btn btn-danger float-right">Delete</button>
                                        </form>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </section>
</div>


@section Scripts {



    <script type="text/javascript">
        $(document).ready(function () {
            //$("#menu-leave").addClass("menu-open");
            $("#menu-leave-application").addClass("active-custom");
        });</script>
}