@page
@model myportfolio.Pages.Admin.Compliance.IndexModel

@{
    ViewData["Title"] = "Compliance";
}


<div class="content-wrapper">


    <section class="content pt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fa fa-file-archive"></i> Compliance
                            </h3>
                            <a class="float-right btn btn-outline-success" asp-page="Create">
                                Add
                            </a>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="data-table"
                                   class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Details</th>
                                        <th>Image</th>

                                        <th style="width: 15%; text-align: center">
                                            Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Compliance)
                                    {
                                        <tr>
                                            <td>@item.Title</td>
                                            <td title="@item.Details">
                                                @if (item.Details.Length > 100)
                                                {
                                                    @item.Details.Substring(0, 100)
                                                }
                                                else
                                                {
                                                    @item.Details
                                                }....
                                            </td>
                                            <td>
                                                <img src="~/@item.ImagePath" alt="Alternate Text" class="img-circle elevation-2" width="50" height="50" />
                                            </td>


                                            <td class="text-center">
                                                <a class="btn btn-primary text-white px-1 py-0" asp-page="./Details" asp-route-id="@item.Id" title="Details">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                                <a class="btn btn-warning text-white px-1 py-0" asp-page="./Edit" asp-route-id="@item.Id" title="Edit">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a class="btn btn-danger text-white px-1 py-0" asp-page="./Delete" asp-route-id="@item.Id" title="Delete">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu-compliance").addClass("active-custom");
            $("#menu-about-us").addClass("menu-open");
        });</script>
}
