@page
@model myportfolio.Pages.Admin.JobCircular.DeleteResumeModel

@{
    ViewData["Title"] = "DeleteResume";
}

<h1>DeleteResume</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Resume</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resume.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resume.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resume.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resume.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resume.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resume.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resume.YearsOfExperience)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resume.YearsOfExperience)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resume.FileType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resume.FileType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resume.FilePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resume.FilePath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resume.JobCircular)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resume.JobCircular.JobStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resume.Key)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resume.Key)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resume.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resume.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resume.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resume.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resume.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resume.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resume.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resume.UpdatedBy)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Resume.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
