@page
@model myportfolio.Pages.Admin.Slider.DetailsModel

@{ ViewData["Title"] = "Details"; }

<div class="content-wrapper">
    <section class="content pt-3">
        <div class="container-fluid">
            <section class="content">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Slider Detail</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 d-flex align-items-stretch flex-column">
                                <div class="card bg-light d-flex flex-fill">
                                    <div class="card-header text-muted border-bottom-0">

                                    </div>
                                    @*<div class="card-body pt-0">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="lead"><b>@Html.DisplayFor(model => model.Slider.Heading) </b></h2>
                                                    <p>@Html.DisplayFor(model => model.Slider.Details) </p>
                                                </div>
                                                <div class="col-5 text-center">
                                                    <img src="~/@Model.Slider.FilePath" alt="media gallery image" class="img-rounded img-fluid">
                                                </div>
                                            </div>
                                        </div>*@

                                    <div class="card-body pt-0">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <p><b>Identifier : </b> @Html.DisplayFor(model => model.Slider.Identifier) </p>
                                                <p><b>Header : </b> @Html.DisplayFor(model => model.Slider.Heading) </p>
                                                <p><b>Details : </b> @Html.DisplayFor(model => model.Slider.Details) </p>
                                            </div>
                                            <div class="col-md-5 float-right">
                                                <img src="~/@Model.Slider.FilePath" alt="Slider image" class="img-rounded img-fluid">
                                            </div>

                                        </div>
                                        <br />


                                    </div>


                                    <div class="card-footer">
                                        <div class="text-left">

                                            <a asp-page="./Index" class="btn btn-sm btn-outline-info">
                                                Back
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </section>
</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu-slider").addClass("active-custom");
            $("#menu-configuration").addClass("menu-open");
        });</script>
}