@page
@model myportfolio.Pages.Admin.Downloads.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Download</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Download.FileGroup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Download.FileGroup.GroupFor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Download.FileName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Download.FileName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Download.FileType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Download.FileType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Download.FilePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Download.FilePath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Download.Key)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Download.Key)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Download.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Download.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Download.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Download.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Download.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Download.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Download.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Download.UpdatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Download.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
