@page
@model myportfolio.Pages.Admin.Team.IndexModel

@{
    ViewData["Title"] = "Our Team";
}

<div class="content-wrapper">
    <section class="content pt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card card-outline card-tabs">
                        <div class="card-header">
                            <h3 class="card-title">
                              Our Teams
                            </h3>
                            <a class="float-right btn btn-outline-success" asp-page="Create">
                                Add
                            </a>
                        </div>
                        <div class="card-header p-0 pt-1 border-bottom-0">
                            <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="custom-tabs-three-profile-tab" data-toggle="pill" href="#custom-tabs-three-profile" role="tab" aria-controls="custom-tabs-three-profile" aria-selected="true">Active Team Member <span class="badge badge-success">@Model.Teams.Where(x => x.isActive == true).Count()</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-three-home-tab" data-toggle="pill" href="#custom-tabs-three-home" role="tab" aria-controls="custom-tabs-three-home" aria-selected="false">Inactive Team Member</a>
                                </li>


                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="custom-tabs-three-tabContent">
                                <div class="tab-pane fade table-responsive" id="custom-tabs-three-home" role="tabpanel" aria-labelledby="custom-tabs-three-home-tab">
                                    <table id="data-table" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th> Sort Order</th>
                                                <th> Name</th>
                                                <th> Email</th>
                                                <th>Phone</th>
                                                <th>Designation</th>
                                                <th>Expertise</th>
                                                <th>Logo</th>

                                                <th style="width: 15%; text-align: center">
                                                    Actions
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Teams.Where(x => x.isActive == false))
                                            {
                                                <tr>
                                                    <td>@item.SortCode</td>
                                                    <td>@item.Name</td>
                                                    <td>@item.Email</td>
                                                    <td>@item.ContactNo</td>
                                                    <td>@item.Designation</td>
                                                    <td>@item.Expertise</td>
                                                    <td>
                                                        @if (item.LogoPath == null)
                                                        {
                                                            <img src="~/quadrion/img/profile.jpg" alt="" class="img-circle elevation-2" width="50" height="50" />

                                                        }
                                                        else
                                                        {
                                                            <img src="~/@item.LogoPath" alt="" class="img-circle elevation-2" width="50" height="50" />

                                                        }
                                                    </td>


                                                    <td class="text-center">
                                                        <a class="btn btn-primary text-white px-1 py-0" asp-page="./Details" asp-route-id="@item.Id" title="Details">
                                                            <i class="fas fa-eye"></i>
                                                        </a>
                                                        @* <a class="btn btn-warning text-white px-1 py-0" asp-page="./Edit" asp-route-id="@item.Id" title="Edit">
                                                    <i class="fas fa-edit"></i>
                                                    </a>*@

                                                        <a class="btn btn-success text-white px-1 py-0" asp-page="./Retrive" asp-route-id="@item.Id" title="Retrive">
                                                            <i class="fas fa-check-circle"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade active show table-responsive" id="custom-tabs-three-profile" role="tabpanel" aria-labelledby="custom-tabs-three-profile-tab">
                                    <table id="data-table-two " class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th> Sort Order</th>
                                                <th> Name</th>
                                                <th> Email</th>
                                                <th>Phone</th>
                                                <th>Designation</th>
                                                <th>Expertise</th>

                                                <th>Logo</th>

                                                <th style="width: 15%; text-align: center">
                                                    Actions
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Teams.Where(x => x.isActive == true))
                                            {
                                                <tr>
                                                    <td>@item.SortCode</td>
                                                    <td>@item.Name</td>
                                                    <td>@item.Email</td>
                                                    <td>@item.ContactNo</td>
                                                    <td>@item.Designation</td>
                                                    <td>@item.Expertise</td>
                                                    <td>
                                                        @if (item.LogoPath == null)
                                                        {
                                                            <img src="~/quadrion/img/profile.jpg" alt="" class="img-circle elevation-2" width="50" height="50" />

                                                        }
                                                        else
                                                        {
                                                            <img src="~/@item.LogoPath" alt="" class="img-circle elevation-2" width="50" height="50" />

                                                        }
                                                    </td>


                                                    <td class="text-center">
                                                        <a class="btn btn-primary text-white px-1 py-0" asp-page="./Details" asp-route-id="@item.Id" title="Details">
                                                            <i class="fas fa-eye"></i>
                                                        </a>
                                                        <a class="btn btn-warning text-white px-1 py-0" asp-page="./Edit" asp-route-id="@item.Id" title="Edit">
                                                            <i class="fas fa-edit"></i>
                                                        </a>
                                                        <a class="btn btn-danger text-white px-1 py-0" asp-page="./Delete" asp-route-id="@item.Id" title="Delete">
                                                            <i class="fas fa-trash"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <!-- /.card -->
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#menu-team").addClass("active-custom");
        });</script>
}
