@page
@model myportfolio.Pages.Admin.EmpLeave.IndexModel
@{
    ViewData["Title"] = "Leave Type";
}

<div class="content-wrapper">


    <section class="content pt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                Leave Type
                            </h3>
                            <a class="float-right btn btn-outline-success" asp-page="Create">
                                Add
                            </a>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="data-table"
                                   class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Leave Type</th>
                                        <th>Total Day</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th style="width: 15%; text-align: center">
                                            Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.EmpLeaveRequest)
                                    {
                                        <tr>
                                            <td>
                                                @item.LeaveType
                                            </td>
                                            <td>
                                                @item.TotalLeave
                                            </td>
                                            <td>
                                                @item.ValidFromDate
                                            </td> <td>
                                                @item.ValidToDate
                                            <td class="text-center">
                                                <a class="btn btn-primary text-white px-1 py-0" asp-page="./Details" asp-route-id="@item.Id" title="Details">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                                <a class="btn btn-warning text-white px-1 py-0" asp-page="./Edit" asp-route-id="@item.Id" title="Edit">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a class="btn btn-danger text-white px-1 py-0" asp-page="./Delete" asp-route-id="@item.Id" title="Delete">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu-leave").addClass("menu-open");
            $("#menu-leave-type").addClass("active-custom");
        });</script>
}
